.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.932000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.936000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.131775,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.131775,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.131775,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.151825,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.151825,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.151825,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.236825,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.236825,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.236825,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-8.822000px;}
._4{margin-left:-7.756000px;}
._a{margin-left:-6.745600px;}
._2{margin-left:-5.435200px;}
._3{margin-left:-3.963600px;}
._0{margin-left:-2.567200px;}
._5{margin-left:-1.038000px;}
._7{width:1.430400px;}
._1{width:3.627600px;}
._b{width:10.602000px;}
._6{width:15.955600px;}
._c{width:18.814400px;}
._8{width:21.887200px;}
._9{width:22.965600px;}
.fc0{color:rgb(35,31,32);}
.fs5{font-size:30.392000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:64.280000px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:96.000000px;}
.fs3{font-size:142.680000px;}
.y0{bottom:12.500000px;}
.y11{bottom:21.938100px;}
.y10{bottom:43.258900px;}
.yf{bottom:64.579700px;}
.ye{bottom:85.900800px;}
.yd{bottom:107.221900px;}
.yc{bottom:128.542700px;}
.yb{bottom:149.863800px;}
.ya{bottom:171.184900px;}
.y9{bottom:192.505700px;}
.y8{bottom:213.826500px;}
.y7{bottom:235.147600px;}
.y6{bottom:256.468700px;}
.y5{bottom:277.789500px;}
.y4{bottom:299.110600px;}
.y3{bottom:320.431700px;}
.y2{bottom:341.752500px;}
.y13{bottom:371.560300px;}
.y12{bottom:450.012500px;}
.y1{bottom:465.549400px;}
.y16{bottom:517.530000px;}
.y14{bottom:531.731100px;}
.y15{bottom:565.037600px;}
.h7{height:22.520472px;}
.h4{height:35.520000px;}
.h6{height:47.567200px;}
.h3{height:53.352000px;}
.h2{height:71.040000px;}
.h5{height:105.583200px;}
.h1{height:599.500000px;}
.h0{height:612.000000px;}
.w1{width:791.000000px;}
.w0{width:792.000000px;}
.x0{left:1.000000px;}
.x4{left:23.786600px;}
.x2{left:25.770300px;}
.x5{left:71.040800px;}
.x6{left:88.646500px;}
.x7{left:107.895400px;}
.x1{left:259.161400px;}
.x3{left:330.925300px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-11.762667pt;}
._4{margin-left:-10.341333pt;}
._a{margin-left:-8.994133pt;}
._2{margin-left:-7.246933pt;}
._3{margin-left:-5.284800pt;}
._0{margin-left:-3.422933pt;}
._5{margin-left:-1.384000pt;}
._7{width:1.907200pt;}
._1{width:4.836800pt;}
._b{width:14.136000pt;}
._6{width:21.274133pt;}
._c{width:25.085867pt;}
._8{width:29.182933pt;}
._9{width:30.620800pt;}
.fs5{font-size:40.522667pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:85.706667pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:128.000000pt;}
.fs3{font-size:190.240000pt;}
.y0{bottom:16.666667pt;}
.y11{bottom:29.250800pt;}
.y10{bottom:57.678533pt;}
.yf{bottom:86.106267pt;}
.ye{bottom:114.534400pt;}
.yd{bottom:142.962533pt;}
.yc{bottom:171.390267pt;}
.yb{bottom:199.818400pt;}
.ya{bottom:228.246533pt;}
.y9{bottom:256.674267pt;}
.y8{bottom:285.102000pt;}
.y7{bottom:313.530133pt;}
.y6{bottom:341.958267pt;}
.y5{bottom:370.386000pt;}
.y4{bottom:398.814133pt;}
.y3{bottom:427.242267pt;}
.y2{bottom:455.670000pt;}
.y13{bottom:495.413733pt;}
.y12{bottom:600.016667pt;}
.y1{bottom:620.732533pt;}
.y16{bottom:690.040000pt;}
.y14{bottom:708.974800pt;}
.y15{bottom:753.383467pt;}
.h7{height:30.027296pt;}
.h4{height:47.360000pt;}
.h6{height:63.422933pt;}
.h3{height:71.136000pt;}
.h2{height:94.720000pt;}
.h5{height:140.777600pt;}
.h1{height:799.333333pt;}
.h0{height:816.000000pt;}
.w1{width:1054.666667pt;}
.w0{width:1056.000000pt;}
.x0{left:1.333333pt;}
.x4{left:31.715467pt;}
.x2{left:34.360400pt;}
.x5{left:94.721067pt;}
.x6{left:118.195333pt;}
.x7{left:143.860533pt;}
.x1{left:345.548533pt;}
.x3{left:441.233733pt;}
}
